.logo-icon {
  width: 178px;
  position: relative;
  height: 138px;
  object-fit: cover;
}
.login {
  text-decoration: none;
  position: relative;
  color: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  cursor: pointer;
}
.component-1,
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-1 {
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-13xl);
}
.logo-parent {
  align-self: stretch;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-13xl);
}
.junte-se {
  margin: 0;
}
.junte-se-container {
  align-self: stretch;
  position: relative;
}
.ola-woewoeq {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-noto-sans-carian);
  color: var(--color-white);
  text-align: center;
}
.instance-parent,
.ola-woewoeq-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ola-woewoeq-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-5xl);
  background-color: var(--color-dimgray-200);
  border-radius: var(--br-xl);
  flex-direction: row;
}
.instance-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
}
.central {
  width: 100%;
  border-radius: var(--br-xl);
  background-color: rgba(255, 255, 255, 0.6);
  height: 330px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  min-width: 390px;
  max-width: 620px;
  max-height: 330px;
}
.central,
.central-wrapper,
.frame-parent,
.tela-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.central-wrapper {
  align-self: stretch;
  height: 886px;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-league-spartan);
}
.frame-parent,
.tela-inicio {
  overflow: hidden;
}
.frame-parent {
  align-self: stretch;
  justify-content: flex-start;
  background-image: url(./public/frame-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.tela-inicio {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.62);
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-nunito);
}
